*{
    padding:0;
    margin: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: #0b0423;
    display: flex;
    align-items: center;
    justify-content: center;

}

#left,#right{
    border: 1px dashed #fff;
    width: 300px;
    min-height: 400px;
    margin:20px ;
}

.lists{
    background-color: #e91e63;
    height: 60px;
    margin:30px;
    cursor:grab;
    align-items: center;
    display: flex;
    color:#fff;
}

.lists img{
    width: 10px;
    margin-right: 15px;
    margin-left: 15px;
}